.kanban-column {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-right: 16px;
  width: 280px; /* Decreased the width from the default size */
  flex-shrink: 0; /* Prevent columns from shrinking in a flex container */
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.title-header h2 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.task-count {
  font-size: 14px;
  color: #777;
}

.card-with-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.add-task-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.task-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.2s;
}

.task-icon:hover {
  transform: scale(1.1);
}
.title-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
  width: 200px;
}
